<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>author</string>
			<key>Title</key>
			<string>About</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string> (only if image type is Jpeg)</string>
			<key>Title</key>
			<string>Application Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>jpg</string>
			<key>Key</key>
			<string>pref_imageFormat</string>
			<key>Title</key>
			<string>Default saved image format</string>
			<key>Titles</key>
			<array>
				<string>Jpeg</string>
				<string>Png</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>jpg</string>
				<string>png</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0.5</string>
			<key>Key</key>
			<string>pref_imageQuality</string>
			<key>Title</key>
			<string>Jpeg image quality</string>
			<key>Titles</key>
			<array>
				<string>Highest</string>
				<string>High</string>
				<string>Medium</string>
				<string>Low</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>0.5</string>
				<string>0.25</string>
				<string>0.1</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Credits &amp; Acknowledgments</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Credits</string>
			<key>Title</key>
			<string>Credits</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
